<div class="row justify-content-between margin-bottom-16">
    <div class="col-10">
        <h2>{{ pageTitle }}</h2>
    </div>
    <div class="col-2 d-flex justify-content-end">
        <button mat-stroked-button class="button-primary" style="height: 44px; font-size: 12px;" (click)="onClickCreateButton()">
            <span>
                <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
            </span>
            Create PDPA Consent
        </button>
    </div>
  </div>
  <mat-divider></mat-divider>
      <div class="row margin-top-32">
        <div class="col-12">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">ID.</th>
              <td mat-cell *matCellDef="let row" class="text-align-center-important" style="width: 5%; padding-right: 10px">{{ row.id }}</td>
            </ng-container>
            <ng-container matColumnDef="conCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                Name</th>
                <td mat-cell *matCellDef="let row" class="text-align-center-important" style="width: 5%; padding-right: 10px">{{ row.conCode }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important"
                style="width: 250px; font-size: 11px; padding-right: 10px;">Status</th>
              <td mat-cell *matCellDef="let row" class="text-align-center-important">
                <div style="display: flex; justify-content: center; align-items: center;">
                  <div class="status-tag" [ngClass]="{
                  'active-tag': row.status == 1,
                  'inactive-tag': row.status  == 0
                }" style="width: 60px; font-size: 10px;">
                    {{ row.status ? "Active" : "Inactive" }}
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="version">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                  Version</th>
              <td mat-cell *matCellDef="let row" class="text-align-center-important">{{ row.version }}</td>
            </ng-container>
            <ng-container matColumnDef="titleTh">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                  Title(TH)</th>
              <td mat-cell *matCellDef="let row" class="text-align-center-important" style="padding-right: 10px; font-size: 12px;">{{ row.titleTh }}</td>
            </ng-container>
            <ng-container matColumnDef="titleEn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                  Title(EN)</th>
              <td mat-cell *matCellDef="let row" class="text-align-center-important" style="padding-right: 10px; font-size: 12px;">{{ row.titleEn }}</td>
            </ng-container>
            <ng-container matColumnDef="titleZh">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                  Title(ZH)</th>
              <td mat-cell *matCellDef="let row" class="text-align-center-important" style="padding-right: 10px; font-size: 12px;">{{ row.titleZh }}</td>
            </ng-container>
            <ng-container matColumnDef="descriptionTh">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                Description(TH) 
              </th>
              <td mat-cell *matCellDef="let row" style="width: 250px; padding-left: 15px; font-size: 12px;">
                <app-description-display
                  [description]="row.descriptionTh"
                  [maxLength]="50"
                  [columnTitle]="'Description(TH)'"
                ></app-description-display>
              </td>
            </ng-container>
            <ng-container matColumnDef="descriptionEn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                  Description(EN)</th>
                  <td mat-cell *matCellDef="let row" style="width: 250px; font-size: 12px; padding-left: 10px;">
                    <app-description-display
                      [description]="row.descriptionEn"
                      [maxLength]="50"
                      [columnTitle]="'Description(EN)'"
                    ></app-description-display>
                  </td>
            </ng-container>
            <ng-container matColumnDef="descriptionZh">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                  Description(ZH)</th>
                  <td mat-cell *matCellDef="let row" style="width: 250px; font-size: 12px; padding-left: 10px;">
                    <app-description-display
                      [description]="row.descriptionZh"
                      [maxLength]="50"
                      [columnTitle]="'Description(ZH)'"
                    ></app-description-display>
                  </td>
            </ng-container>
            <ng-container matColumnDef="creationTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px;">
                  Created Date</th>
              <td mat-cell *matCellDef="let row" class="text-align-center-important" style="font-size: 12px;">
                {{ row.creationTime | date: 'dd/MM' }}<br>{{ row.creationTime | date: 'yyyy' }}
              </td>
            </ng-container>
            <ng-container matColumnDef="lastModificationTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold text-align-center-important" style="width: 250px; font-size: 11px; padding-right: 10px;">
                  Last Modified Time</th>
              <td mat-cell *matCellDef="let row" class="text-align-center-important"  style="padding-right: 10px; font-size: 12px;">
                {{ row.lastModificationTime | date: 'dd/MM' }}<br>{{ row.lastModificationTime | date: 'yyyy' }}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="font-weight-bold text-align-center-important" style="padding-left: 10px; font-size: 11px; padding-right: 10px;">
                  Action
              </th>
              <td mat-cell *matCellDef="let row" style="width: 100px; padding-left: 10px;">
                  <div class="row justify-content-center">
                      <div style="padding-top: 1px;">
                          <a (click)="onEditRowClick(row)"><i class="fa-solid fa-pen-to-square pointer"
                                  style="color: var(--blue-blue-main); margin-left: 10px;"></i></a>
                      </div>
                      <div style="padding-top: 1px;">
                          <a (click)="onDeleteRowClick(row)"><i class="fa-regular fa-trash-can"
                                  style="color: var(--red); margin-left: 10px;"></i></a>
                      </div>
                  </div>
              </td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <mat-paginator [length]="totalItem" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]"
            (page)="getPaginatorData($event)" showFirstLastButtons>
          </mat-paginator>
      </div>
  </div>