<div class="row justify-content-between margin-bottom-16">
  <div class="col-10">
    <h2>{{ pageTitle }}</h2>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row margin-top-32">
  <div class="col-12">
    <p-table [value]="pdpaConsentList" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
        <tr class="header-cell">
          <th style="font-size: 14px">ID</th>
          <th style="font-size: 14px">Name</th>
          <th style="font-size: 14px">Status</th>
          <th style="font-size: 14px">Version</th>
          <th style="font-size: 14px">TitleTH</th>
          <th style="font-size: 14px">TitleEN</th>
          <th style="font-size: 14px">TitleZH</th>
          <th style="font-size: 14px">DescriptionTH</th>
          <th style="font-size: 14px">DescriptionEN</th>
          <th style="font-size: 14px">DescriptionZH</th>
          <th style="text-align: center; font-size: 14px">Created Date</th>
          <th style="text-align: center; font-size: 14px">Last Modified</th>
          <th style="font-size: 14px">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr>
          <td style="text-align: center; font-size: 14px">
            {{ row.id }}
          </td>
          <td style="text-align: center; font-size: 14px">
            {{ row.conCode }}
          </td>
          <td style="text-align: center">
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <div
                class="status-tag"
                [ngClass]="{
                  'active-tag': row.status == 1,
                  'inactive-tag': row.status == 0
                }"
                style="width: 60px; font-size: 10px"
              >
                {{ row.status ? "Active" : "Inactive" }}
              </div>
            </div>
          </td>
          <td style="text-align: center; font-size: 14px">
            {{ row.version }}
          </td>
          <td style="text-align: center; font-size: 14px">
            {{ row.titleTh }}
          </td>
          <td style="text-align: center; font-size: 14px">
            {{ row.titleEn }}
          </td>
          <td style="text-align: center; font-size: 14px">
            {{ row.titleZh }}
          </td>
          <td style="font-size: 14px">
            <app-description-display
              [description]="row.descriptionTh"
              [maxLength]="10"
              [columnTitle]="'Description(TH)'"
            ></app-description-display>
          </td>
          <td style="font-size: 14px">
            <app-description-display
              [description]="row.descriptionEn"
              [maxLength]="10"
              [columnTitle]="'Description(EN)'"
            ></app-description-display>
          </td>
          <td style="font-size: 14px">
            <app-description-display
              [description]="row.descriptionZh"
              [maxLength]="10"
              [columnTitle]="'Description(ZH)'"
            ></app-description-display>
          </td>
          <td style="text-align: center; font-size: 14px">
            {{ row.creationTime | date : "dd/MM/yyyy" }}
          </td>
          <td style="text-align: center; font-size: 14px">
            {{ row.lastModificationTime | date : "dd/MM/yyyy" }}
          </td>
          <td style="text-align: center; font-size: 14px">
            {{ row.action }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="row">
      <div class="col-12">
        <mat-paginator
          [length]="totalItem"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 20, 30, 40]"
          (page)="getPaginatorData($event)"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
